.flex-grid {
  display: flex;
}

@media (max-width: 400px) {
  .flex-grid {
    display: block;
  }
}

.col {
  flex: 1;
}

.main-col {
  flex: 9;
}

body { 
  background-color: lighten($main-colour, 48%);
}
