.flex-grid {
  display: flex;
  justify-content: center;  
}

@media (max-width: 400px) {
  .flex-grid {
    display: block;
  }
}

.main-col {
  flex: 1;
  max-width: 90%;
}

body {
  background-color: lighten($main-colour, 48%);
}
