@import url('fonts.googleapis.com/css?family=Gamja+Flower|Montserrat');

.logo {
  font-size: 150px;
  // line-height: 1;
}

.logo-web {
  letter-spacing: 0.001em;
  //line-height: 50%;;
  // line-height: 0;
}

.logo-biscuit {
  letter-spacing: 0.01em;
  padding-left: 0.25em;

  line-height: 0.01em;

  //line-height: 50%;;
}

.logo-first {
  font-family: 'Gamja Flower';
}

.logo-chars {
  font-size: 0.55em;
  font-family: 'Montserrat';
}
