
nav {
  width: 100%;
  background-color: $nav-menu-colour;
  text-align: center;

  ul {
    margin: 0;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    list-style: none;
    padding: 15px;

    > li {
      text-align: center;
      cursor: pointer;

      > a {
        text-decoration: none;
        padding: 15px;
        color: $nav-text-colour;  
        font-family: 'Barlow', sans-serif;
        font-weight: 900;
      }

      :hover {
        background-color: darken($nav-menu-colour, 10%);
      }
    }

    > li.selected > a{
      background-color: lighten($nav-menu-colour, 20%);
      //margin-left: 100px;
    }

    > li.right-align {
      margin-left: auto;
    }
  }
}
