@import url('https://fonts.googleapis.com/css?family=Barlow:Black|Lato');

body {
  font-family: 'Lato', sans-serif;
  line-height: 1.3em;
  font-size: 18px;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 22px;
}

h3 {
  font-size: 20px;
}

h4,
h5,
h6 {
  font-size: 18px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Barlow', sans-serif;
  font-weight: 900;
}

.vertical-text {
  transform: rotate(180deg);
  writing-mode: vertical-rl;
  line-height: 2em;
  text-align: right;
  margin-top: 5em;
  //transform-origin: left top 0;
}

