@import url('https://fonts.googleapis.com/css?family=Barlow:Black|Lato');

body {
  font-family: 'Lato', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Barlow', sans-serif;
  font-weight: 900;
}

.vertical-text {
  transform: rotate(90deg);
  transform-origin: left top 0;
}

