$font-stack:    Helvetica, sans-serif;
$primary-color: #000;
$secondary-color: #fff;

body {
  background-color: $secondary-color;
  color: $primary-color;
  font: 100% $font-stack;
  line-height: 1;
}
