$font-stack:    Helvetica, sans-serif;
$primary-color: #333;
$secondary-color: #f0f;

body {
  background-color: $secondary-color;
  color: $primary-color;
  font: 100% $font-stack;
  line-height: 4;
}
