<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">

  <title>{{ title }}</title>
  <meta name="description" content="{{ description }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="Web Biscuit">

  <link rel="stylesheet" type="text/css" href="{{rootPath}}assets/bundle.css">

  <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
  <![endif]-->

  <script type="text/javascript" src="{{rootPath}}assets/headscripts.js" charset="utf-8" async></script> 
</head>

<body>
    {{#block "header"}}
    {{> header}}
    {{/block}}

    {{#block "main"}}
    {{{contents}}}
    {{/block}}

    {{#block "footer"}}
    {{> footer}}
    {{/block}}

  <script type="text/javascript" src="{{rootPath}}assets/bodyscripts.js" charset="utf-8" async></script>  
</body>

</html>
