<header>
    <nav class="">
        <ul>
            <li class="{% if cat_about %}selected{% endif %}"><a href="{{rootPath}}">Web Biscuit</a></li>
            <li class="{% if cat_cv %}selected{% endif %}"><a href="{{rootPath}}resume/">CV</a></li>
            <li class="{% if cat_articles %}selected{% endif %}"><a href="{{rootPath}}articles/">Writing</a></li>
            {# <li class="right-align"><a href="{{rootPath}}about">About</a></li> #}
        </ul>
    </nav>
</header>