<header>
    <nav class="ui orange inverted secondary pointing menu">
        <div class="ui container">
            <a href="{{rootPath}}" class="{% if cat_blog %}header active {% endif %}item">
                Web Biscuit
            </a>
            <a href="{{rootPath}}resume" class="{% if cat_cv %}header active {% endif %}item">
                Daniel's CV
            </a>
             <a href="{{rootPath}}about" class="{% if cat_cv %}header active {% endif %}item">
                About Web Biscuit
            </a>
        </div>
    </nav>
</header>