<header>
    <nav class="">
        <ul>
            <li><a href="{{rootPath}}">Web Biscuit</a></li>
            <li><a href="{{rootPath}}resume">CV</a></li>
            <li><a href="{{rootPath}}about">Writing</a></li>
            <li class="right-align"><a href="{{rootPath}}about">About</a></li>
        </ul>
    </nav>
</header>