{% extends "partials/default.njk" %}
{% block content %}

<div class="ui container">
  <div class="logo">
    <div class="logo-web">
      <span class="logo-first">W</span><span class="logo-chars">eb</span>
    </div>
    <div class="logo-biscuit">
      <span class="logo-first">B</span><span class="logo-chars">iscuit</span>
    </div>
  </div>

  <div class='vertical-text'>Testing</div>
  {# {{ contents | safe }} #}
</div>

{% endblock %}
